.loginModal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:white;
  border-radius: 4px;
  width: 400px;
  padding: 40px;
}
