.addBusinessImage-error {
  color: red
}

.addBusinessImage-preview {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.addBusinessImage-preview > label {
  width: 90%;
}

.addBusinessImage-checkbox {
  height: 20px;
  width: 20px;
  padding: 0;
  border: none;
  box-shadow: none;
  border-radius: 0;
}

.addBusinessImage button {
  height: 30px;
  background: #E00807;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
