footer {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 75px;
  margin-top: 10px;
  background-color: #f7f7f7;
  /* background-color: lightgray; */
}

.footer-container ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container ul a {
  text-decoration: none;
  color: black;
}

.footer-container ul a:hover {
  text-decoration: underline;
}
