.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    padding: 60px 0px;
    margin: 0px auto;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-width: 200px;
    min-height: 400px;
    margin: auto 12px;
}

.footer-links a {
    padding: 6px 0px;
}