.hero-bar {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 682px; */
    height: 682px;
    background: linear-gradient(90deg, #0006, #0000001a 55%),
        url(https://picsum.photos/1280/720.jpg);
    background-size: cover;
}

.landing-page-card-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 652px;
}

.landing-page-card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-width: 800px;
    max-width: 1224px;
    padding: 56px 0px;
}

.landing-page-stars {
    display: flex;
}

.landing-page-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid grey;
    border-radius: 4px;
    min-width: 150px;
    max-width: 368px;
    padding: 16px 24px;
    margin: 8px;
}

.card-image-container img {
    flex: 1;
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    object-fit: cover;
}

.landing-page-categories-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1224px;
    padding: 48px 0px;
    margin: 0px auto;
}

.landing-page-category-card {
    width: 256px;
    height: 183px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 8px;
    margin: 8px;
    background: url(https://picsum.photos/400/400?grayscale.jpg);
    background-size: cover;
    cursor: pointer;
}

.category-image {
    margin: auto;
    font-size: 48px;
    color: #e00807;
}
