/* TODO Add site wide styles */

* {
    box-sizing: border-box;
}

body {
    background-color: #d8d8d8;
    font-family: sans-serif;
    margin: 0;
}

input {
    height: 48px;
    padding: 13px 16px;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

button.big-red-button {
    width: 320px;
    height: 44px;
    background: #E00807;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
}

.bold {
    font-weight: bold;
}