/* TODO Add site wide styles */

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: sans-serif;
    margin: 0;
}

input {
    height: 48px;
    padding: 13px 16px;
    border-radius: 3px;
    border: none;
    color: #2d2e2f;
    margin: 6px auto;
    box-shadow: inset 0 0 0 1px #c8c9ca;
}

select {
    height: 48px;
    padding: 13px 16px;
    border-radius: 3px;
    border: none;
    color: #2d2e2f;
    margin: 6px auto;
    box-shadow: inset 0 0 0 1px #c8c9ca;
}

textarea {
    height: 120px;
    padding: 13px 16px;
    border-radius: 3px;
    border: none;
    color: #2d2e2f;
    margin: 6px auto;
    resize: none;
    box-shadow: inset 0 0 0 1px #c8c9ca;
}

textarea::placeholder {
    font-family: sans-serif;
    font-size: 14px;
}

.full-width {
    width: 100%;
}

hr {
    margin: 8px;
}

button {
    cursor: pointer;
}

ul.no-bullets {
    list-style-type: none;
    padding-left: 0;
}

li.errors {
    list-style-type: none;
    padding-left: 0;
    color: #e00807;
    font-size: 16px;
    font-weight: 500;
    margin: 0px auto;
}

button.big-red-button {
    height: 44px;
    background: #e00807;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
}

button.big-clear-button {
    background: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border: 2px solid #c8c9ca;
    color: #ffffff;
    margin: auto 4px;
    padding: 10px 16px;
    height: 44px;
    border-radius: 4px;
}

button.big-red-button[type="submit"]:disabled {
    background: grey;
}

button.form-button {
    height: 44px;
    background: #e00807;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 64px;
    font-size: 16px;
    font-weight: 500;
}

button.input-red-button {
    height: 48px;
    background: #e00807;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 10px 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

button.star-button {
    background-color: #e00807;
    border: none;
    border-radius: 6px;
    color: #fffffe;
    font-size: 18px;
    margin: 0px 2px;
}

button.star-button-off {
    background-color: #dddde0;
    border: none;
    border-radius: 6px;
    color: #fffffe;
    font-size: 18px;
    margin: 0px 2px;
}

.filled > i {
    background-color: #e00807;
    color: white;
    font-size: 12px;
    margin: 0px 1px;
    padding: 4px;
    border-radius: 6px;
}

.empty > i {
    background-color: #dddde0;
    color: white;
    font-size: 12px;
    margin: 0px 1px;
    padding: 4px;
    border-radius: 6px;
}

.bold {
    font-weight: bold;
}

.no-margin {
    margin: 0px;
}

.cursor-pointer {
    cursor: pointer;
}

.blue-link {
    font-size: 15px;
    font-weight: 600;
    color: #047a97;
    text-decoration: none;
}
