.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.nav-container {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px 0;
  border-bottom: 2px solid grey;
  padding-bottom: 20px;
}

.nav-container-home {
  background: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 40px 0;
}

/* .nav-left {
} */

.nav-logo {
  background-color: #E00807;
  padding: 5px;
  border-radius: 10px;
}

.nav-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  margin: 0px 16px;
}

.nav-search-bar {
  width: 100%;
  margin: auto 0px;
}

.nav-right-home {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-links-home {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 14px;
  font-size: 15px;
  font-weight: 500;
  color: #ffffff;
  margin: auto 8px;
}

.nav-links {
  font-family: sans-serif;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #2d2e2e;
  margin: auto 8px;
}

.nav-right-home > button {
  background: none;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid #c8c9ca;
  color: #ffffff;
  margin: auto 4px;
  padding: 10px 16px;
  height: 44px;
  border-radius: 4px;
}

.nav-right > button {
  background-color: #E00807;
  cursor: pointer;
  border: 2px solid #c8c9ca;
  color: #ffffff;
  margin: auto 4px;
  padding: 10px 16px;
  height: 44px;
  border-radius: 4px;
}

.profile-dropdown {
  position: absolute;
  right: 40px;
  z-index: 1;
  list-style-type: none;
  padding: 5px 10px;
  border: 1px solid black;
  background-color: white;
}

.profile-dropdown li {
  padding: 5px 0;
}

.profile-dropdown a {
  text-decoration: none;
  color: black;
}

.profile-dropdown button {
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
  padding-top: 5px;
}

.dropdown-line {
  padding-top: 5px;
  margin-bottom: 5px;
  border-bottom: 2px solid grey;
  width: 100%;
}

.nav-user-button {
  background: none;
  border: none;
}

.nav-user-button-home {
  background: none;
  border: none;
}

.nav-user-button > i {
  font-size: 46px;
  color: #E00807;
  cursor: pointer;
}

.nav-user-button-home > i {
  font-size: 36px;
  color: white;
  cursor: pointer;
}
