.answerModal {
  max-width: 50vw;
}

.answerModal-errors {
  color: red;
}

.answerModal > h3 {
  margin-bottom: 30px;
}

.answerModal ul {
  margin-bottom: 30px;
}

.answerModal-answer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.answerModal-answer input {
  width: 90%;
}

.answerModal button {
  height: 30px;
  background: #E00807;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
