#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color:white;
  border-radius: 4px;
  width: 400px;
  padding: 40px;
}

#modal-content form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#modal-content input {
  width: 100%;
  margin: 6px auto;
}

#modal-content button {
  width: 100%
}

input.half-width {
  width: 48% !important;
  margin: 6px 0px !important;
}

.signup-form-names {
  display: flex;
  justify-content: space-between;
}

#modal-content span {
  margin: 6px auto;
}