.businessList{
  margin: auto;
  margin-top: 20px;
  width: 60%;
}

.businessCard{
  align-items: flex-start;
  display: flex;
  flex-direction:row;
  margin-bottom: 20px;
}

.businessCard:hover{
  cursor: pointer;
}

.businessCard>img{
  height: 200px;
  width: auto;
}

.businessCardHours>p{
  margin-bottom:0px;
}

.businessCardCategories{
  column-gap: 5px;
  display: flex;
}

.businessCardCategories>p{
  margin: 0px;
  background-color: lightgray;
  font-size: 12px;
}

.cardRight{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  height: 100%;
}

.businessCardReview{
  font-size: 14px;
}

.cardRight>h2{
  margin: 0px;
}

.totalReviews{
  color: blue;
}

.fa-dollar{
  width:5px;
}
