.updateProfile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateProfile > h2 {
  margin: 0;
}

.updateProfile button {
  width: 50%;
  height: 30px;
  margin-top: 30px;
}
